<!-- CAPITULOS POR NIVEL -->
<div class="item-labelt">
    {{camino}}
</div><br>   
<div class="titulo">
    Capítulo:{{( nivelact.capitulos[0].nombre)}} = {{(nivelact.capitulos[0].valor * 100).toFixed(2)}}% <br>
    {{nivelact.nomNivel}} <br>

    <div class="titulo" ng-if="nivelact.nivel >= 3" >
        Nivel: {{nivelact.nomMostrar}}
    </div>
    <div class="titulo" ng-if="nivelact.nivel == 2" >
        Supervisor : {{nivelact.nSuperv}}<br>
    </div>
    <div class="titulo" ng-if="nivelact.nivel == 1" >
        Vendedor : {{nivelact.nVendedor}}<br>
    </div>
</div>
<!-- Si son varios items -->
<table class="list" style="width: 100%" ng-if="mostrarTabla()" >
    <tr class="itemlista"  ng-class="{'selected':$index == selectedRow}"  ng-repeat="item in nivelact.subNiveles"  ng-click="detalle($index)" ng-show="item.capitulos[idcapact].id != -1" >	                   
        <td class="item-desc" style="width: 100%">{{item.nomNivel}}</td>        
        <td  class="item-desc valor" style="width: 20%">{{(item.capitulos[0].valor * 100).toFixed(2)}}%</td>                                    
       
    </tr>
</table>
<!-- Si solo es un item -->
<table class="list" style="width: 100%" ng-if="mostrarTabla() === false" >    
    <tr class="itemlista"  onclick="this.style.backgroundColor = '#5494d1'" ng-click="detalle(0)" ng-show="item.capitulos[idcapact].id != -1" >	                   
        <td class="item-desc" style="width: 100%">{{nivelact.subNiveles.nomNivel}}</td>        
        <td class="item-desc valor" style="width: 20%">{{(nivelact.subNiveles.capitulos[0].valor * 100).toFixed(2)}}%</td>                                    
       
    </tr>
</table>
<br>
