<!--  Detalle capitulo  -->
<div class="item-labelt">
    {{camino}}
</div><br>    
<div class="titulo">
    {{nivelact.nombre}}<br>
    CALIFICACIÓN TOTAL: {{(nivelact.valor * 100).toFixed(2)}}% <br>
    <div ng-if="subcat == true">
        {{catant[idsubcatsel].nm}}: {{(catant[idsubcatsel].v * 100).toFixed(2)}}% <br>
    </div> 
</div>

<table class="list" style="width: 100%" ng-if="subcat == false">
    <tr class="itemlista"  ng-class="{'selected':$index == selectedRow}" ng-repeat="itemIncap in categorias"  ng-click="subcategoria($index)"  ng-if="itemIncap.id > 1" ng-if="subniveles0($index) == true"  >	   
        <td class="item-desc" style="width: 100%">{{itemIncap.nm}} </td>   
        <td class="item-desc valor" style="width: 10%">{{(itemIncap.v * 100).toFixed(2)}}%</td>
    </tr>
</table> 
<table class="list" style="width: 100%" ng-if="subcat == true">
    <tr class="itemlista"  ng-class="{'selected':$index == selectedRow}" ng-repeat="itemIncap in categorias"  ng-click="gestionindic($index)"  ng-if="itemIncap.id > 1" ng-if="subniveles0($index) == true">	   
        <td class="item-desc" style="width: 100%">{{itemIncap.nm}} </td>   
        <td class="item-desc valor" style="width: 10%">{{(itemIncap.v * 100).toFixed(2)}}%</td>
    </tr>
</table> 
<br>