<!--  Detalle capitulo  -->
<div class="item-labelt">
    {{camino}}
</div><br>    
<div class="titulo">
    CALIFICACIÓN TOTAL {{(nivelact.capitulos[0].valor * 100).toFixed(2)}}% <br>
    {{nivelact.nomNivel}} <br>
    <div class="titulo" ng-if="nivelact.nivel >= 3" >
        Nivel: {{nivelact.nomMostrar}}
    </div>
    <div class="titulo" ng-if="nivelact.nivel == 2" >
        Supervisor : {{nivelact.nSuperv}}<br>
    </div>
    <div class="titulo" ng-if="nivelact.nivel == 1" >
        Vendedor : {{nivelact.nVendedor}}<br>
    </div>
    <div class="titulo" ng-if="nivelact.nivel == 0" >
        {{nivelact.nombreE}}<br>
        {{nivelact.direccion}}<br>
        {{nivelact.canal}}
    </div>
</div>
<table class="list" style="width: 100%" >
    <tr class="itemlista"   ng-class="{'selected':$index == selectedRow}" ng-repeat="itemIncap in nivelact.capitulos"  ng-click="detalle($index)"  ng-if="subniveles0($index)==true" >	                   
        <td class="item-desc" style="width: 100%">{{itemIncap.nombre}} </td>   
        <td class="item-desc valor" style="width: 10%">{{(itemIncap.valor * 100).toFixed(2)}}%</td>     
    </tr>
</table>  
<br>