<!--  indicadores por nivel -->
<div class="item-labelt">
    {{camino}}
</div><br> 
<div class="titulo">
    Indicador: {{(nivelact.capitulos[idcapact].ins[indact].nm)}} <br> 
    CALIFICACIÓN {{(nivelact.capitulos[idcapact].ins[indact].v * 100).toFixed(2)}}% <br>
    {{nivelact.nomNivel}} <br>

    <div class="titulo" ng-if="nivelact.nivel >= 3" >
        Nivel: {{nivelact.nomMostrar}}
    </div>
    <div class="titulo" ng-if="nivelact.nivel == 2" >
        Supervisor : {{nivelact.nSuperv}}<br>
    </div>
    <div class="titulo" ng-if="nivelact.nivel == 1" >
        Vendedor : {{nivelact.nVendedor}}<br>
    </div>
</div>

<table class="list" style="width: 100%" ng-if="mostrarTabla()" >
    <tr class="itemlista" ng-class="{'selected':$index == selectedRow}"  ng-repeat="item in nivelact.subNiveles"  ng-click="detalle($index)" ng-show="item.capitulos[idcapact].id != -1 && item.capitulos[idcapact].ins[indact].id != -1"  >	                   
        <td class="item-desc " style="width: 100%">{{item.nomNivel}}</td>
        <td class="item-desc valor" style="width: 20%">{{(item.capitulos[idcapact].ins[indact].v * 100).toFixed(2)}}%</td>                                    
    </tr>
</table>
<table class="list" style="width: 100%" ng-if="mostrarTabla() == false" >
    <tr class="itemlista" onclick="this.style.backgroundColor = '#5494d1'"  ng-click="detalle(0)" ng-show="nivelact.subNiveles.capitulos[idcapact].ins[indact].id != -1"  >	                   
        <td class="item-desc " style="width: 90%">{{nivelact.subNiveles.nomNivel}}</td>
        <td class="item-desc valor" style="width: 20%">{{(nivelact.subNiveles.capitulos[idcapact].ins[indact].v * 100).toFixed(2)}}%</td>                                    
    </tr>
</table>
<br>