<!-- listar proyectos -->
<div class="titulo">Mis proyectos</div>
<ul class="list" style="width: 100%" ng-if="mostrarTabla()" >
    <li class="itemlista" ng-repeat="itemLista in mispry.pryVis" id="proyect"  ng-click="preparardetalle($index)">
        <div  >
            {{itemLista.nomPry}} - {{itemLista.idproy}}
        </div>                             
    </li>                              
</ul>

<ul class="list" style="width: 100%" ng-if="mostrarTabla() == false">
    <li class="itemlista"  id="proyect"   ng-click="preparardetalle(0)">
        <div >
            {{mispry.pryVis.nomPry}} - {{mispry.pryVis.idproy}}
        </div>                             
    </li>                              
</ul>
<br>