<!-- menu inferior -->
<div class="tab-bar">
    <label class="tab-bar__item"  >
        <table class="tablaMenu">
            <tr  class="tablaMenuTR">
                <td>
                    <a ng-click="nivelsuperior()"   onclick="cargando()" class="menu"><img src='img/atras.png'      class="menuimg"></img><br/><span class="textmenudown">Atrás</span></a>
                </td> 
               <!-- <td>
                    <a ng-click="niveldown()"       onclick="cargando()" class="menu"><img src='img/nivel.png'      class="menuimg"></img><br/><span class="textmenudown">Niv. inferior</span></a>
                </td>-->
               <!-- <td>
                    <a ng-click="indicador()"      onclick="cargando()" class="menu"><img src='img/indicador.png'  class="menuimg"></img><br/><span class="textmenudown">Indicador</span></a>
                </td> -->
               <!-- <td>
                    <a ng-click="verDetalleNivel()" onclick="cargando()" class="menu"><img src='img/capitulo.png'   class="menuimg"></img><br/><span class="textmenudown">Cal. usuario</span></a>
                </td>   -->
                <td>
                    <a ng-click="regresaproy()"     onclick="cargando()"  class="menu"><img src='img/detalle.png'    class="menuimg"></img><br/><span class="textmenudown">Mi Calificación</span></a>
                </td>
            </tr>
        </table>
    </label>    
</div>