<!-- Mis alertas-->
<div class="scrollbar" >
    <div class="titulo">
        Mis alertas 
    </div>
    <table class="list " style='width: 100%'>
        <tr class="itemlista redondeado listalert list__item--chevron" ng-repeat="itemIncap in listaAlertas"  onclick="this.style.backgroundColor = '#5494d1';
                    cargando()"   ng-click="gestionindic($index)" >	                               
            <td><img src="img/alert.png" /></td>
            <td class="item-desc"  >NIVEL: {{itemIncap.idniv}}<br/>
                CAPÍTULO: {{itemIncap.nomcap}}
                <br/>
                ALERTA: {{itemIncap.desAlert}}
            </td>
        </tr>
    </table>
    <br>
</div>
