/*
* estilos css propios de la aplicacion se aplican a objetos fuera de el framework 
* v 1.2.2
* Praxis Colombia
*/
.head{
    background-color:#332A86;
}
#action-bar-catalogo{
    background-color: #332A86;
}
#action-bar-catalogo i,#action-bar-catalogo div{
    color: #fff;
}
.item-labelt{
    color: #332A86;
    float: 500px ;
    float: left;
    margin-left: 0px;
    font-size: 14px;
    font-family: "Trebucchet MS" , Arial, Helvetica,sans-serif; 
    text-align: left;
}
.item {
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 10px;
    line-height: 1;
}
.item-thum {
    background-color: #ccc;
    width: 50px;
    height: 50px;
    border-radius: 4px;
}
.item-title {
    color: #332A86;
    font-size: 18px;
    font-weight: 200;
    width: 5%;
    text-align: center;
}
.item-desc {
    color: #332A86;
    line-height: 1.5;
    white-space: normal;
}
.item-valor {
    color: #6E6E6E;
    line-height: 1.5; 
    float: left;
    white-space: nowrap;
}
.item-desc1 {
    color: #332A86;
    line-height: 1.5;
    margin: 1px 0 0 0;    
    font-size: 18px;
    font-weight: 500;
    white-space: wrap;
}
.item-valor1 {
    color: #6E6E6E;
    line-height: 1.5;
    margin: 1px 0 0 0;
    float: left;
    font-size: 18px;
    white-space: wrap;
}
.item-label {
    font-size: 12px;
    color: #999;
    float: right;
}
.item-title {
    color:#332A86;
    font-size: 25px;
    font-weight: 500;
}
/* menu */
.menu{
    color:#FFFFFF;
    margin-top: 1%; 
    margin-left: 0%;
    font-size:12px;    
    font-weight: bold;
    text-align: center;
}
.menuimg{
    margin: 3px 3px 3px 3px;
    color:red;
    border:none;
}
/* link despues de la visita */
.menuimg:link,a:link {
    color: green;
}
.menuimg:active{
    background-image:  url(../img/detalleON.png) no-repeat;
}
/*  link visitado */
.menuimg:visited,a:visited {
    color: green;
}
/*   cursor sobre link*/
.menuimg:hover,a:hover {
    color: white;
}
/* link seleccionado  */
a:active {
    color: yellow;
    background-image:  url(../img/detalleON.png) no-repeat;
}
/*texto menu inferior*/
.left {
    text-align: left;
}
/* estilo para los valores de numericos*/
.valor{
    color:green;
    text-align: right;
}
/* encabezado de las paginas*/
.titulo{
    background-color:white;
    color:#332A86;
    font-size: 25px;
    font-weight: 500;
    text-align: center;  
}
/* estilos para la pantalla de login */
.login-form {
    background: rgba(255, 255, 255, 0.1);
    margin: 3% auto 4% auto;
    position: relative;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -o-border-radius: 1em;
    -moz-border-radius: 1em;
    height: 350px;
    width:360px;
}
form {
    padding-top: 5px;
    margin: 0px 30px 0px 30px;
}
form li{
    border:1px solid #CCCCCC;
    list-style:none;
    margin-bottom:15px;
    background:none;
    border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    -o-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
}
.icon{
    background:url(../img/icons.png)  no-repeat 0px 0px;
    height:30px;
    width:30px;
    display: block;
    margin: -45px -11px 9px 0px;
}
.user{
    background: url(../img/icons.png) no-repeat 12px 11px;
}
.lock{
    background: url(../img/icons.png) no-repeat -17px 11px;
}
.text {
    width:60%;
    padding:0.7em 2em 0.7em 1.7em;
    color:#fff;
    font-size:18px;
    outline: none;
    background: none;
    border:none;
}
form li:hover{
    border: 1px solid #CCCCCC;
    box-shadow: 0 0 1em #CCCCCC;
    -webkit-box-shadow: 0px 0px 1em #CCCCCC;
    -o-box-shadow: 0 0 1em #CCCCCC;
    -moz-box-shadow: 0px 0px 1em #CCCCCC;
}
.submit{
    float:right;
    font-size:18px;
    display: inline-block;
    color: #fff;
    -webkit-transition: 0.1s all;
    -moz-transition: 0.1s all;
    -o-transition: 0.1s all;
    cursor: pointer;
    outline: none;
    width:100%;
    border:none;
    border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    -o-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    background: #78A22F;
}
.submit:hover{
    background: #74992E;
}
/* pie de pagina de inicio de app */
footer {
    background: #FFF;
    color: #332A86;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    margin-bottom:  0;
    margin-top:  0;
    vertical-align: bottom;
    position:fixed;
    left: 0;
    right: 0;
    bottom: 0;
} 
.itemlista {
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-transition-delay: 0s;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-property: background-color;
    -webkit-transition-timing-function: linear;
    -webkit-user-select: none;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-color: rgb(82, 75 87);
    border-top-style: none;
    border-top-width: 0px;
    box-sizing: border-box;
    color: rgb(51, 52, 134);
    cursor: default;
    display: block;
    height: 55%;
    width:100%; 
    line-height: 17px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    min-height: 44px;
    white-space:  normal;
    position: relative;
    text-align: left;
    vertical-align:middle;
}
.selected {
    background-color:#5494d1;
    color:white;
    font-weight:bold;
    -moz-background-clip: text;
    box-shadow: 5px 3px 5px #000, 5px -1px 1px rgba(0,0,0,.1);
}
.scrollbar {
    margin-bottom: 56px;
    font-size: 58px; 
    height: 50%;
    width: 100%;
}
.barranav::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #8962ed;
}
.barranav::-webkit-scrollbar{
    width: 100%;
    background-color: #F5F5F5;
}
.barranav::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.botonguardar {
    width: 50%;
    height: 50px;
    font-size: 180%;
    color:#332A86;
    outline:0px;
    margin-top: 0%;
    background-color: #D8D5E5; 
    -moz-border-radius: 15px 15px 15px 15px; /*para Firefox*/
    -webkit-border-radius: 15px 15px 15px 15px; /*para Safari y Chrome*/
    border-radius: 15px 15px 15px 15px; /* para Opera */
    padding: 5px 0px 5px 0px;
}
.sendPhoto{
    width: 90px;
    margin-right: 0%;
    margin-left: 77%;
}
.btncapfoto{
    margin-top: 3%; 
    background-color: #BAE375; 
    color:#78a22f;
    outline:0px;
    -moz-border-radius: 15px 15px 15px 15px; /*para Firefox*/
    -webkit-border-radius: 15px 15px 15px 15px; /*para Safari y Chrome*/
    border-radius: 15px 15px 15px 15px; /* para Opera */
}
.icon-cam{
    position:relative;
    width:110px;  
    height:110px;
    min-height: 100px;
    -moz-border-radius: 15px 15px 15px 15px; /*para Firefox*/
    -webkit-border-radius: 15px 15px 15px 15px; /*para Safari y Chrome*/
    border-radius: 15px 15px 15px 15px; /* para Opera */
}
.photo{  
    position:relative;
    width:120px;  
    height:120px;
    min-height: 120px;
    -moz-border-radius: 15px 15px 15px 15px; /*para Firefox*/
    -webkit-border-radius: 15px 15px 15px 15px; /*para Safari y Chrome*/
    border-radius: 15px 15px 15px 15px; /* para Opera */
}
.descrip{
    width:95%;
    font-size: 18px;
    -moz-border-radius: 15px 15px 15px 15px; /*para Firefox*/
    -webkit-border-radius: 15px 15px 15px 15px; /*para Safari y Chrome*/
    border-radius: 15px 15px 15px 15px; /* para Opera */
    border-color: blue;
}
#btnalert{
    padding-left: 0%;
    margin-bottom: 2%; 
    margin-left: 0%;
}
.cargando{
    background-image:  url(../img/load1.gif);
    background-repeat: no-repeat;
    background-position: center; 
    background-color: #000000;
    opacity: 0.7;
    position:   fixed;
    top:    0;
    left:   0;
    height: 100%;
    width:  100%;
    z-index: 1000;
    text-align: center;
    visibility: hidden;
}
/* Colores de las alarmas */
.naranja{
    background-color:#FF4000;
    color:#FF4000;
}
.test{}
.rojo {
    background-color:#FF0000;
    color:white;
    margin-top: -4%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    padding-top: 0%;
    padding-left: 1%;
    padding-bottom: -1%;
    padding-right: 1%;
    text-align: center;  
}
.verde {
    background-color:#04B404;
    color:white;
    margin-top: -4%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    padding-top: 0%;
    padding-left: 1%;
    padding-bottom: -1%;
    padding-right: 1%;
    text-align: center;
}
.amarillo {
    background-color:#FFFF00;
    color:#332A86;
    margin-top: -4%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    padding-top: 0%;
    padding-left: 1%;
    padding-bottom: -1%;
    padding-right: 1%;
    text-align: center;  
}
.azul {
    background-color:#332A86;
    color:white;
    margin-top: -4%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    padding-top: 0%;
    padding-left: 1%;
    padding-bottom: -1%;
    padding-right: 1%;
    text-align: center;  
}
.noalarm {
    background-color:#FFFFFF;
    color:#332A86;
    margin-top: -4%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    padding-top: 0%;
    padding-left: 1%;
    padding-bottom: -1%;
    padding-right: 1%;
    text-align: center;
}
.indic{
    width: 320%;
    text-align: left;
}
.indicval{
    min-width: 70px;        
}
.bajorrelieve {
    color:#332A86;
    -moz-background-clip: text;
    box-shadow: 5px 3px 5px #000, 5px -1px 1px rgba(0,0,0,.1);
}
.tbsup{
    width: 100%;
}
.tittable{
    border-bottom: 2px solid #999;
    font-weight: bold;
    font-size: 25px;
    color: #CCCCCC;
    width: 100%; 
    padding: 2px 0px 10px 10px;
}
.tablebody{
    display:inline-block;
    border: 1px solid #999;
    width: 97%;
    margin: 10px 0px 50px 0px;
    padding: 2px 0px 10px 15px;
    /*para Firefox*/
    -moz-border-radius: 15px 15px 15px 15px;
    /*para Safari y Chrome*/
    -webkit-border-radius: 15px 15px 15px 15px;
    /* para Opera */
    border-radius: 15px 15px 15px 15px;
}
.redondeado{
    border:1px solid #5494d1;
    padding: 2px 0px 0px 10px;
    /*para Firefox*/
    -moz-border-radius: 15px 15px 15px 15px;
    /*para Safari y Chrome*/
    -webkit-border-radius: 15px 15px 15px 15px;
    /* para Opera */
    border-radius: 15px 15px 15px 15px;
}
/* sebra tabla */
.tablelist tr:nth-child(odd) {
    background-color: #fefefe;
    color:#777;
    white-space: wrap;
}
.tablelist tr:nth-child(even) {
    background-color: #F2F3F5;
    color:#FFF;
    white-space: wrap;
}
.listalert{
    white-space: normal;
}
.popover {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: transparent;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    width: 99%;
}
.popover__content {
    background-color: #CCCCCC;
    -webkit-border-radius: 10px;
    border-radius: 15px;
    -webkit-box-shadow: 0 2px 16px rgba(0,0,0,0.1);
    box-shadow: 0 2px 16px rgba(0,0,0,0.1);
    overflow: no-content;
    margin-left: 20px;
    width: 100%;
}
.popover__left-arrow {
    content: '';
    position: absolute;
    -webkit-transform-origin: 50% 50% 0;
    -moz-transform-origin: 50% 50% 0;
    -ms-transform-origin: 50% 50% 0;
    -o-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
    background-color: transparent;
    background-image: -webkit-linear-gradient(45deg, #CCCCCC, #CCCCCC 50%, transparent 50%);
    background-image: -moz-linear-gradient(45deg, #CCCCCC, #CCCCCC 50%, transparent 50%);
    background-image: -o-linear-gradient(45deg, #CCCCCC, #CCCCCC 50%, transparent 50%);
    background-image: linear-gradient(45deg, #CCCCCC, #CCCCCC 50%, transparent 50%);
    -webkit-border-radius: 0 0 0 4px;
    border-radius: 0 0 0 4px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 36px;
    height: 36px;
    top: 30%;
    left: 0px;
    margin-left: 5px;
}
.verdeN {
    color:#04B404;
}
.tab-bar__item{
    height: 60px
}
.tablaMenu{
    width: 100%;
    margin: 0px;    
    white-space: normal;
    line-height: normal;
}
.tablaMenuTR{
    width: 100%;
    margin: 0px;   
    margin: 0px;  
    padding: 0px;
    line-height: 10px;
    text-align: center;
}
/* texto menu superior*/
.textmenuup {
    text-align: center;
    font-size: 12px;
    color:white;
}
.tablaMenuTD{            
    padding: 0px;
    line-height: 0px;
    text-align: center;         
    width: 70px
}