<!--  Detalle indicadores -->
<div class="item-labelt">
    {{camino}}
</div><br>   
<div class="titulo">
    Indicadores<BR>
    Capítulo: {{nivelact.capitulos[idcapact].nombre}} TOTAL {{(nivelact.capitulos[idcapact].valor * 100).toFixed(2)}}% <br>
    {{nivelact.nomNivel}} <br>
        
    <div class="titulo" ng-if="nivelact.nivel >= 3" >
        Nivel: {{nivelact.nomMostrar}}
    </div>
    <div class="titulo" ng-if="nivelact.nivel == 2" >
        Supervisor : {{nivelact.nSuperv}}<br>
    </div>
    <div class="titulo" ng-if="nivelact.nivel == 1" >
        Vendedor : {{nivelact.nVendedor}}<br>
    </div>
    
    <div class="titulo" ng-if="nivelact.nivel == 0" >
        {{nivelact.nombreE}}<br>
        {{nivelact.direccion}}<br>
        {{nivelact.canal}}
    </div>
</div>

<div id="indicadores_niv" ng-if="nivelact.nivel != 0"  >
    <table class="list" style="width: 100%" >
        <tr class="itemlista" ng-class="{'selected':$index == selectedRow}"  ng-repeat="item in nivelact.capitulos[idcapact].ins"  ng-click="detalle($index)" ng-show="item.id != -1" >	                           
            <td class="item-desc" style="width: 100%">{{item.nm}} </td>
            <td class="item-desc valor" style="width: 10%">{{(item.v * 100).toFixed(2)}}%</td>                                    
        </tr>
    </table>
</div>
<!-- MUESTRA COLORES EN NIVEL 0 -->
<div  id="indicadores_niv0" ng-if="nivelact.nivel == 0"  >
    <table class="list" style="width: 100%">
        <tr class="itemlista" ng-class="{'selected':$index == selectedRow}"  ng-repeat="item in nivelact.capitulos[idcapact].ins"  ng-click="detalle($index)"ng-show="item.id != -1" >	                           

            <td style="width: 100%" ng-click="gestionindic($index)"> 
                <table  class='list0'>
                    <td class='item-desc indic ' > {{item.nm}} </td>                    
                    <td id="niv0" class='item-desc {{getColor($index)}} valor ' >{{(item.v * 100).toFixed(2)}}% </td>
                </table>
            </td> 

        </tr>
    </table>
</div>
<br>
