<!-- Gestion indicador -->
<div class="item-labelt">
    {{camino}}
</div><br> 
<div class="titulo" onload="apagacargando()">
    {{nivelact.nombreE}}<br>
    {{nivelact.capitulos[idCapg].nombre}}<br>
    {{nivelact.capitulos[idCapg].ins[idIndg].nm}}
</div>

<table class="tbsup">
    <tr style="width: 22%">
        <td style="width: 22%">
            <img id="photo" ng-click="takePhoto()" class="bajorrelieve photo"  src='{{image}}' />
            <div id="pintimg"></div>
        </td>
        <td  style="width: 75%">
            <div class="popover" >
                <div class="popover__left-arrow"></div>
                <div class="popover__content">
                    <div style="text-align:center;margin-top:40px">
                        <textarea name="descGestion"  placeholder="Descripción de la gestión" id="descGestion"   class="descrip" rows="5" cols="60">{{indActAl.a}}</textarea>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    <tr style="width: 100%">
        <td colspan="2">
            <img class="sendPhoto" id="sendPhoto" ng-click="guardargestion()" src='img/guardar.png' />
        </td>
    </tr>
</table>

<table class="tablebody">
    <tr><td class="tittable" colspan="2">Descripción<td></tr>
    <tr><td class="item-desc1">Supervisor:</td>
        <td class="item-valor1" ng-if="nivelact.nSuperv != ''"> {{nivelact.nSuperv}}</td></tr>
    <tr><td class="item-desc1"> Vendedor:  </td>
        <td class="item-valor1" ng-if="nivelact.nVendedor != ''"> {{nivelact.nVendedor}}</td></tr>
    <tr><td class="item-desc1"> Tienda:  </td>
        <td class="item-valor1"> {{nivelact.nombreE}}</td></tr>
    <tr><td class="item-desc1"> Dirección:  </td>
        <td class="item-valor1"> {{nivelact.direccion}}</td></tr>
    <tr><td class="item-desc1"> Canal:  </td>
        <td class="item-valor1"> {{nivelact.canal}}</td></tr>
    <tr>
        <td class="item-desc1">Descripción</td>
        <td class="item-valor1">{{indActAl.da}}</td></tr>
</table>
<br>


