<!-- menu superior -->
<div class="navigation-bar" id="action-bar-catalogo" >
    <div class="navigation-bar__left"> 
        <ons-icon icon="ion-log-out" onclick="salir()"> Salir</ons-icon>
    </div>
    <div class="navigation-bar__center">
    </div>
    <div class="navigation-bar__right"> 
        <table align="right">
            <tr align="center" >
                <td class="tablaMenuTD" ng-click="misalertas()" onclick="cargando()">
                    <a class="ion-alert-circled"  style="text-align:center">
                        <br>                      
                        <span class="textmenuup" >Mis Alertas</span>
                    </a>    
                </td>
                <td class="tablaMenuTD" onclick="cargando();subirgestion();">
                    <a class="ion-upload {{color}}" id="nubeImg"  style=" text-align:center">
                        <br>
                        <span class="textmenuup" id="spansinc">Sincronizar</span>
                    </a>
                </td>
                <td class="tablaMenuTD" onclick="cargando()"  ng-click="alistbusqueda()"> 
                    <a class="ion-android-search"   style=" text-align:center">
                        <br>
                        <span class="textmenuup">Buscar</span>
                    </a> 
                </td>
            </tr>
        </table>     
    </div>
</div>