/*! onsenui - v1.1.4 - 2014-09-22 */
/*
Copyright 2013-2014 ASIAL CORPORATION

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

 */

@import url("font_awesome/css/font-awesome.min.css");
@import url("ionicons/css/ionicons.min.css");

/* cutsom elements */
ons-page, ons-screen, ons-navigator,
ons-split-view, ons-sliding-menu, ons-tabbar,
ons-gesture-detector {
  display: block;
}
ons-tabbar {
  position: absolute;
  background-color:#f9f9f9;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
}
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}
input, textarea {
  -webkit-user-select: auto;
}

.page {
  background-color: transparent !important;
  background: transparent !important;
}

.page__status-bar-fill ~ .page__content {
  padding-top: 20px;
}

ons-toolbar ~ .page__content {
  padding-top: 44px;
}

.page__status-bar-fill ~ ons-toolbar {
  height: 64px;
}

.page__status-bar-fill ~ ons-toolbar > .center,
.page__status-bar-fill ~ ons-toolbar > .left,
.page__status-bar-fill ~ ons-toolbar > .right {
  padding-top: 20px;
}

.page__status-bar-fill ~ ons-toolbar ~ .page__content {
 padding-top: 64px;
}

.page__content {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  /* z-index: 0; */
   
}

.page__bottom-bar-fill ~ .page__content {
  margin-bottom: 44px;
  
}

::-webkit-scrollbar {
  display: block;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #FFFFFF;
    background-color: #FFFFFF;
}
::-webkit-scrollbar{
    background-color: #04B404;
}
::-webkit-scrollbar-thumb {
   -webkit-box-shadow: inset 0 0 6px  #04B404; 
}
.tab-bar__status-bar-fill ~ .tab-bar--top__content {
  top: 71px;
}
.tab-bar__status-bar-fill ~ .tab-bar--top {
  padding-top: 22px;
}
.effeckt-button {
  position: relative;
  font-family: inherit;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
}
.effeckt-button[data-loading] {
  cursor: default;
}
.effeckt-button > .spinner {
  position: absolute;
  width: 26px;
  height: 13px;
  top: 50%;
  margin-top: -12px;
  opacity: 0;
  border: 3px solid white;
  border-bottom: 0;
  -webkit-border-radius: 40px 40px 0 0;
  border-radius: 40px 40px 0 0;
  -webkit-transform-origin: bottom center;
  background: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.effeckt-button[data-loading] > .spinner {
  -webkit-animation: spinner .8s infinite linear;
  -o-animation: spinner .8s infinite linear;
  -moz-animation: spinner .8s infinite linear;
  animation: spinner .8s infinite linear;
}
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes spinner {
  0% {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.effeckt-button,
.effeckt-button > .spinner,
.effeckt-button > .label {
  -webkit-transition-property: padding, opacity, left, right, top, bottom, margin;
  -moz-transition-property: padding, opacity, left, right, top, bottom, margin;
  -o-transition-property: padding, opacity, left, right, top, bottom, margin;
  transition-property: padding, opacity, left, right, top, bottom, margin;
  -webkit-transition-duration: 500ms;
  -moz-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);  
}

.effeckt-button.zoom-in,
.effeckt-button.zoom-in > .spinner,
.effeckt-button.zoom-in > .label,
.effeckt-button.zoom-out,
.effeckt-button.zoom-out > .spinner,
.effeckt-button.zoom-out > .label {
  -webkit-transition: 500ms ease all;
  -o-transition: 500ms ease all;
  -moz-transition: 500ms ease all;
  transition: 500ms ease all;
}

.effeckt-button.expand-right > .spinner {
  right: 16px;
}

.effeckt-button.expand-right[data-loading] {
  padding-right: 64px;
}

.effeckt-button.expand-right[data-loading] > .spinner {
  opacity: 1;
}

.effeckt-button.expand-left > .spinner {
  left: 16px;
}

.effeckt-button.expand-left[data-loading] {
  padding-left: 64px;
}

.effeckt-button.expand-left[data-loading] > .spinner {
  opacity: 1;
}

.effeckt-button.expand-up {
  overflow: hidden;
}

.effeckt-button.expand-up > .spinner {
  top: 32px;
  left: 50%;
  margin-left: -16px;
}

.effeckt-button.expand-up[data-loading] {
  padding-top: 64px;
}

.effeckt-button.expand-up[data-loading] > .spinner {
  opacity: 1;
  top: 16px;
  margin-top: 0;
}

.effeckt-button.expand-down {
  overflow: hidden;
}

.effeckt-button.expand-down > .spinner {
  left: 50%;
  top: 100%;
  margin-left: -16px;
  margin-top: -48px;
}

.effeckt-button.expand-down[data-loading] {
  padding-bottom: 64px;
}

.effeckt-button.expand-down[data-loading] > .spinner {
  opacity: 1;
}

.effeckt-button.slide-left {
  overflow: hidden;
}

.effeckt-button.slide-left > .label {
  position: relative;
}

.effeckt-button.slide-left > .spinner {
  left: 100%;
  margin-left: -16px;
}

.effeckt-button.slide-left[data-loading] > .label {
  opacity: 0;
  left: -100%;
}

.effeckt-button.slide-left[data-loading] > .spinner {
  opacity: 1;
  left: 50%;
}

.effeckt-button.slide-right {
  overflow: hidden;
}

.effeckt-button.slide-right > .label {
  position: relative;
}

.effeckt-button.slide-right > .spinner {
  right: 100%;
  margin-left: -16px;
}

.effeckt-button.slide-right[data-loading] > .label {
  opacity: 0;
  left: 100%;
}

.effeckt-button.slide-right[data-loading] > .spinner {
  opacity: 1;
  left: 50%;
}

.effeckt-button.slide-up {
  overflow: hidden;
}

.effeckt-button.slide-up > .label {
  position: relative;
}

.effeckt-button.slide-up > .spinner {
  left: 50%;
  margin-left: -16px;
  margin-top: 1em;
}

.effeckt-button.slide-up[data-loading] > .label {
  opacity: 0;
  top: -1em;
}

.effeckt-button.slide-up[data-loading] > .spinner {
  opacity: 1;
  margin-top: -16px;
}

.effeckt-button.slide-down {
  overflow: hidden;
}

.effeckt-button.slide-down > .label {
  position: relative;
}

.effeckt-button.slide-down > .spinner {
  left: 50%;
  margin-left: -16px;
  margin-top: -32px;
}

.effeckt-button.slide-down[data-loading] > .label {
  opacity: 0;
  top: 1em;
}

.effeckt-button.slide-down[data-loading] > .spinner {
  opacity: 1;
  margin-top: -16px;
}

.effeckt-button.zoom-out {
  overflow: hidden;
}

.effeckt-button.zoom-out > .spinner {
  left: 50%;
  margin-left: -16px;
  -webkit-transform: scale(2.5);
  -ms-transform: scale(2.5);
  -o-transform: scale(2.5);
  -moz-transform: scale(2.5);
  transform: scale(2.5);
}

.effeckt-button.zoom-out > .label {
  position: relative;
  display: inline-block;
}

.effeckt-button.zoom-out[data-loading] > .label {
  opacity: 0;
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  -moz-transform: scale(0.5);
  transform: scale(0.5);
}

.effeckt-button.zoom-out[data-loading] > .spinner {
  opacity: 1;
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  -moz-transform: none;
  transform: none;
}

.effeckt-button.zoom-in {
  overflow: hidden;
}

.effeckt-button.zoom-in > .spinner {
  left: 50%;
  margin-left: -16px;
  -webkit-transform: scale(0.2);
  -ms-transform: scale(0.2);
  -o-transform: scale(0.2);
  -moz-transform: scale(0.2);
  transform: scale(0.2);
}

.effeckt-button.zoom-in > .label {
  position: relative;
  display: inline-block;
}

.effeckt-button.zoom-in[data-loading] > .label {
  opacity: 0;
  -webkit-transform: scale(2.2);
  -ms-transform: scale(2.2);
  -o-transform: scale(2.2);
  -moz-transform: scale(2.2);
  transform: scale(2.2);
}

.effeckt-button.zoom-in[data-loading] > .spinner {
  opacity: 1;
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  -moz-transform: none;
  transform: none;
}

/**
 * Grid
 * --------------------------------------------------
 * Using flexbox for the grid, inspired by Philip Walton:
 * http://philipwalton.github.io/solved-by-flexbox/demos/grids/
 * By default each .col within a .row will evenly take up
 * available width, and the height of each .col with take
 * up the height of the tallest .col in the same .row.
 */
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.row + .row {
  margin-top: -5px;
  padding-top: 0;
}

.col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Vertically Align Columns */
/* .row-* vertically aligns every .col in the .row */
.row-top {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -moz-box-align: start;
  align-items: flex-start;
}

.row-bottom {
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -moz-box-align: end;
  align-items: flex-end;
}

.row-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -moz-box-align: center;
  align-items: center;
}

/* .col-* vertically aligns an individual .col */
.col-top {
  -webkit-align-self: flex-start;
  -moz-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start; }

.col-bottom {
  -webkit-align-self: flex-end;
  -moz-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end; }

.col-center {
  -webkit-align-self: center;
  -moz-align-self: center;
  -ms-flex-item-align: center;
  align-self: center; }

/* Column Offsets */
.col-offset-10 {
  margin-left: 10%; }

.col-offset-20 {
  margin-left: 20%; }

.col-offset-25 {
  margin-left: 25%; }

.col-offset-33, .col-offset-34 {
  margin-left: 33.3333%; }

.col-offset-50 {
  margin-left: 50%; }

.col-offset-66, .col-offset-67 {
  margin-left: 66.6666%; }

.col-offset-75 {
  margin-left: 75%; }

.col-offset-80 {
  margin-left: 80%; }

.col-offset-90 {
  margin-left: 90%; }

.row--fit > .col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.row--100 > .col {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}

/*
Copyright 2013-2014 ASIAL CORPORATION

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

 */

.ons-icon {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ons-icon--ion {
  line-height: 0.75em;
  vertical-align: -80%;
  
  margin-left: 4%;
}

.ons-icon--spin {
  -webkit-animation: ons-icon-spin 2s infinite linear;
  -moz-animation: ons-icon-spin 2s infinite linear;
  -o-animation: ons-icon-spin 2s infinite linear;
  animation: ons-icon-spin 2s infinite linear;
  
}

@-moz-keyframes ons-icon-spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}

@-webkit-keyframes ons-icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}

@-o-keyframes ons-icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes ons-icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.ons-icon--rotate-90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.ons-icon--rotate-180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.ons-icon--rotate-270 {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}

.ons-icon--flip-horizontal {
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.ons-icon--flip-vertical {
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1);
}

.ons-icon--fw {
  width: 1.28571429em;
  text-align: center;
}

.ons-icon--lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.ons-icon--2x {
  font-size: 2em;
}

.ons-icon--3x {
  font-size: 3em;
}

.ons-icon--4x {
  font-size: 4em;
}

.ons-icon--5x {
  font-size: 5em;
}

/*
Copyright 2013-2014 ASIAL CORPORATION

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

*/

.ons-scroller {
  display: block;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;   
}

.ons-scroller::-webkit-scrollbar,
.ons-scroller__content::-webkit-scrollbar {
  display: block;
}

/*
Copyright 2013-2014 ASIAL CORPORATION

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

*/

ons-sliding-menu {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  overflow: hidden;
  z-index: 0;
}

.onsen-sliding-menu__behind,
.onsen-sliding-menu__above {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 0;
}

.onsen-sliding-menu__above {
  margin: 0;
  padding: 0;
}

.onsen-sliding-menu__behind {
  opacity: 0;
}


/*
Copyright 2013-2014 ASIAL CORPORATION

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

*/

ons-split-view {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 0;
  overflow: hidden;
}

.onsen-split-view__secondary {
  opacity: 0;
  width: 100%;
}

.onsen-split-view__secondary,
.onsen-split-view__main {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 0;
}
